@import url('https://fonts.cdnfonts.com/css/gill-sans-nova-cond-ultra-bold');
@import url('https://fonts.cdnfonts.com/css/gill-sans?styles=17577');
@import url('https://fonts.cdnfonts.com/css/rubik?styles=19495');

html,
body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}
.header {
    display: flex;
    flex-direction: row;
    background-color: #232325;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.logoSpace {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo{
    width: 100px;
    height: 100px;
}

.headerRightPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
    gap: 20px;
}

.loginSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loginButton {
    border-radius: 10px;
    background-color: #09953e;
    width: 100px;
    height: 35px;
    font-size: x-large;
    color: white;
    border: 10px black;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    text-align: center;
}

.registerButton {
    color: white;
    font-size: 120%;
    font-family: 'Rubik', sans-serif;
}

.Moka {
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    font-size: 250%;
    color: white;
    font-weight: 900;

}
.tittle{
    color: white;
}
.movingText {
    color: white;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    font-size: 150%;
}

.carrito{
    width: 50px;
    height:50px;
}

.carrito img{
    width: 50px;
    height:50px;
}

.sticky {

    top: 0;
    width: 100%;
}

* {
    box-sizing: border-box
}



.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 130px;
    padding: 30px;
    gap: 100px;
}
.bodyfirstpart{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.titlefirstpart{
    font-size: 300%;
    text-align: center;
    color: #09953e;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}
.fotospart{
    display: flex;
    flex-direction: row;
    gap: 300px;
    justify-content: center;
}
.firstfoto{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.fotoalejandro{
    width: 250px;
    height: 270px;
    border-radius: 50%;
    border: 5px #09953e solid;
}
.alejandrotext{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.alejandrotext1{
    text-align: center;
    font-size: 200%;
    color: black;
    font-family: 'Gill Sans', sans-serif;
}
.alejandrotext2{
    text-align: center;
    font-size: 200%;
    color: #09953e;
    font-family: 'Gill Sans', sans-serif;
}
.secondfoto{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.fotoangel{
    width: 250px;
    height: 270px;
    border-radius: 50%;
    border: 5px #09953e solid;
}
.angeltext{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.angeltext1{
    text-align: center;
    font-size: 200%;
    color: black;
    font-family: 'Gill Sans', sans-serif;
}
.angeltext2{
    text-align: center;
    font-size: 200%;
    color: #09953e;
    font-family: 'Gill Sans', sans-serif;
}
.bodysecondpart{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}

.ofertaempleobox{
    width: 300px;
    height: 300px;
    background-color: #232325;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border: 0px;
}
.convenioscolectivosbox{
    width: 300px;
    height: 300px;
    background-color: #232325;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border: 0px;
}
.evaluaci贸nriesgosbox{
    width: 300px;
    height: 300px;
    background-color: #232325;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border: 0px;
}
.videoriesgosbox{
    width: 300px;
    height: 300px;
    background-color: #232325;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border: 0px;
}
.iconoofertaempleo{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}
.iconoconvenioscolectivos{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}
.iconoevaluacionriesgos{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}
.iconovideoriesgos{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}
.ofertaempleotext{
    font-size: 150%;
    color: white;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}
.convenioscolectivostext{
    font-size: 150%;
    color: white;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}
.evaluacionriesgostext{
    font-size: 150%;
    color: white;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}
.videoriesgostext{
    font-size: 150%;
    color: white;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}
.ofertaempleobox:hover{
    box-shadow: 5px 5px 40px #09953e;
}
.convenioscolectivosbox:hover{
    box-shadow: 5px 5px 40px #09953e;
}
.evaluaci贸nriesgosbox:hover{
    box-shadow: 5px 5px 40px #09953e;
}
.videoriesgosbox:hover{
    box-shadow: 5px 5px 40px #09953e;
}




.footer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.linepartfooter {
    display: flex;
    flex-direction: row;
}
.greenline{
    width: 25%;
    height: 25px;
    background-color: #0faf4c;
}
.blackline{
    width: 75%;
    height: 25px;
    background-color: #232325;
}
.fullpartfooter{
    display: flex;
    flex-direction: row;
    gap: 450px;
    padding: 40px;
    background-color: #232325;
}
.firstpartfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-left: 50px;
}
.firstpartfooter1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.titlefooter{
    font-size: 270%;
    color: white;
    text-align: center;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}
.logofooter {
    width: 90px;
    height: 90px;
}
.iconosfooter{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.iconossocial {
    width: 45px;
    height: 45px;
}
.secondpartfooter{
    display: flex;
    flex-direction: row;
    gap: 250px;
    margin-top: 7px;
}
.secondpartfooter1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.secondpartfooter2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.secondtitlefooter{
    font-size: 220%;
    color: #09953e;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}
.secondtextfooter{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.textfooter{
    font-size: 120%;
    color: white;
    font-family: 'Rubik', sans-serif;
}
@media only screen and (max-width: 1325px){
    .greenline{
        width: 25%;
        height: 20px;
        background-color: #0faf4c;
    }
    .blackline{
        width: 75%;
        height: 20px;
        background-color: #232325;
    }
    .fullpartfooter{
        display: flex;
        flex-direction: row;
        gap: 250px;
        padding: 20px;
        background-color: #232325;
    }
    .firstpartfooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-left: 30px;
    }
    .secondpartfooter{
        display: flex;
        flex-direction: row;
        gap: 150px;
        margin-top: 7px;
    }
}
@media only screen and (max-width: 1305px){
    .fullpartfooter{
        display: flex;
        flex-direction: row;
        gap: 250px;
        padding: 20px;
        background-color: #232325;
    }
}
@media only screen and (max-width: 1532px){
    .footer {
        display: flex;
        flex-direction: column;
        margin-top: -4px;
    }
    .linepartfooter {
        display: flex;
        flex-direction: row;
    }
    .greenline{
        width: 25%;
        height: 20px;
        background-color: #0faf4c;
    }
    .blackline{
        width: 75%;
        height: 20px;
        background-color: #232325;
    }
    .fullpartfooter{
        display: flex;
        flex-direction: row;
        gap: 150px;
        padding: 20px;
        background-color: #232325;
        justify-content: center;
    }
    .firstpartfooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-left: 0px;
    }
    .firstpartfooter1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .titlefooter{
        font-size: 220%;
        color: white;
        text-align: center;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
    }
    .logofooter {
        width: 75px;
        height: 75px;
    }
    .iconosfooter{
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
    .iconossocial {
        width: 35px;
        height: 35px;
    }
    .secondpartfooter{
        display: flex;
        flex-direction: row;
        gap: 150px;
        margin-top: 7px;
    }
    .secondpartfooter1{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .secondpartfooter2{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .secondtitlefooter{
        font-size: 200%;
        color: #09953e;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
    }
    .secondtextfooter{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .textfooter{
        font-size: 100%;
        color: white;
        font-family: 'Rubik', sans-serif;
    }
}
@media only screen and (max-width: 1066px){
    .header {
        display: flex;
        flex-direction: row;
        background-color: #232325;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .Moka {
        font-family: 'Gill Sans Nova Cond Ultra Bold';
        font-size: 150%;
        color: white;
    }
    .movingText {
        color: white;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
        font-size: 0%;
    }
    .headerRightPart {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 5px;
        gap: 10px;
    }
    .loginSpace {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .loginButton {
        border-radius: 10px;
        background-color: #09953e;
        width: 60px;
        height: 30px;
        font-size: 80%;
        color: white;
        border: 10px black;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
        text-align: center;
    }
    .registerButton {
        color: white;
        font-size: 80%;
        font-family: 'Rubik', sans-serif;
    }
    .carrito img{
        width: 40px;
        height: 40px;
        align-content: center;
    }

    .body{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 130px;
        padding: 30px;
        gap: 70px;
    }
    .bodyfirstpart{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .titlefirstpart{
        font-size: 300%;
        text-align: center;
        color: #09953e;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
    }
    .fotospart{
        display: flex;
        flex-direction: column;
        gap: 70px;
        justify-content: center;
    }
    .firstfoto{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .fotoalejandro{
        width: 150px;
        height: 170px;
        border-radius: 50%;
        border: 5px #09953e solid;
    }
    .alejandrotext{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .alejandrotext1{
        text-align: center;
        font-size: 200%;
        color: black;
        font-family: 'Gill Sans', sans-serif;
    }
    .alejandrotext2{
        text-align: center;
        font-size: 200%;
        color: #09953e;
        font-family: 'Gill Sans', sans-serif;
    }
    .secondfoto{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .fotoangel{
        width: 150px;
        height: 170px;
        border-radius: 50%;
        border: 5px #09953e solid;
    }
    .angeltext{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .angeltext1{
        text-align: center;
        font-size: 200%;
        color: black;
        font-family: 'Gill Sans', sans-serif;
    }
    .angeltext2{
        text-align: center;
        font-size: 200%;
        color: #09953e;
        font-family: 'Gill Sans', sans-serif;
    }
    .bodysecondpart{
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
    .ofertaempleobox{
        width: 300px;
        height: 300px;
        background-color: #232325;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        border: 0px;
    }
    .convenioscolectivosbox{
        width: 300px;
        height: 300px;
        background-color: #232325;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        border: 0px;
    }
    .evaluaci贸nriesgosbox{
        width: 300px;
        height: 300px;
        background-color: #232325;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        border: 0px;
    }
    .videoriesgosbox{
        width: 300px;
        height: 300px;
        background-color: #232325;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        border: 0px;
    }
    .iconoofertaempleo{
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    .iconoconvenioscolectivos{
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    .iconoevaluacionriesgos{
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    .iconovideoriesgos{
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    .ofertaempleotext{
        font-size: 150%;
        color: white;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
    }
    .convenioscolectivostext{
        font-size: 150%;
        color: white;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
    }
    .evaluacionriesgostext{
        font-size: 150%;
        color: white;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
    }
    .videoriesgostext{
        font-size: 150%;
        color: white;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
    }
    .ofertaempleobox:hover{
        box-shadow: 5px 5px 40px #09953e;
    }
    .convenioscolectivosbox:hover{
        box-shadow: 5px 5px 40px #09953e;
    }
    .evaluaci贸nriesgosbox:hover{
        box-shadow: 5px 5px 40px #09953e;
    }
    .videoriesgosbox:hover{
        box-shadow: 5px 5px 40px #09953e;
    }



    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .linepartfooter {
        display: flex;
        flex-direction: row;
    }
    .greenline{
        width: 25%;
        height: 10px;
        background-color: #0faf4c;
    }
    .blackline{
        width: 75%;
        height: 10px;
        background-color: #232325;
    }
    .fullpartfooter{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        padding: 10px;
        background-color: #232325;
    }
    .firstpartfooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-left: 0px;
    }
    .firstpartfooter1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .titlefooter{
        font-size: 95%;
        color: white;
        text-align: center;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
    }
    .logofooter {
        width: 35px;
        height: 35px;
    }
    .iconosfooter{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .iconossocial {
        width: 15px;
        height: 15px;
    }
    .secondpartfooter{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 2px;
    }
    .secondpartfooter1{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .secondpartfooter2{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .secondtitlefooter{
        font-size: 70%;
        color: #09953e;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
    }
    .secondtextfooter{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .textfooter{
        font-size: 60%;
        color: white;
        font-family: 'Rubik', sans-serif;
    }
}