@import url('https://fonts.cdnfonts.com/css/gill-sans-nova-cond-ultra-bold');
@import url('https://fonts.cdnfonts.com/css/gill-sans?styles=17577');

html,
body,
main{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.imagenfondo{
    background-image: url("wp8508184.png");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.centerpart{
    background-color: white;
    font-weight: bold;
    border: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
    border-radius: 5px;
}
.firstpart{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logoimage{
    height: 70px;
    width: 70px;
}
.singintitle{
    font-size: 180%;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}
.secondpart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nombretitle{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-size: 110%;
    font-family: 'Gill Sans', sans-serif;
}
.nombretext{
    height: 30px;
    width: 450px;
    border: 1px black solid;
    border-radius: 5px;
}
.apellidostitle{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-size: 110%;
    font-family: 'Gill Sans', sans-serif;
}
.apellidostext{
    height: 30px;
    width: 450px;
    border: 1px black solid;
    border-radius: 5px;
}
.correotelefonopart{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.correotitle{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-size: 110%;
    font-family: 'Gill Sans', sans-serif;
}
.correotext{
    height: 30px;
    width: 220px;
    border: 1px black solid;
    border-radius: 5px;
}
.telefonotitle{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-size: 110%;
    font-family: 'Gill Sans', sans-serif;
}
.telefonotext{
    height: 30px;
    width: 220px;
    border: 1px black solid;
    border-radius: 5px;
}
.contraseñatitle{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-size: 110%;
    font-family: 'Gill Sans', sans-serif;
}
.contraseñatext{
    height: 30px;
    width: 450px;
    border: 1px black solid;
    border-radius: 5px;
}
.registrarsebutton{
    height: 60px;
    width: 300px;
    background-color: rgb(240, 235, 235);
    color: black;
    font-size: 160%;
    box-shadow: 0px 3px 3px #888;
    text-align: center;
    border-radius: 5px;
    border: 0px;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}
.terminostext{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 10px;
}
#checkbox{
    height: 15px;
    width: 15px;
}
.textpart{
    font-family: 'Rubik', sans-serif;
    font-size: 95%;
}
.registrarsebutton:hover{
    background-color: #09953e;
    color: white;
}
@media screen and (max-width: 600px){
    .centerpart{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .firstpart{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .logoimage{
        height: 40px;
        width: 40px;
    }
    .singintitle{
        font-size: 140%;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
    }
    .secondpart{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .nombretitle{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 5px;
        font-size: 75%;
        font-family: 'Gill Sans', sans-serif;
    }
    .nombretext{
        height: 20px;
        width: 250px;
        border: 1px black solid;
        border-radius: 5px;
    }
    .apellidostitle{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 5px;
        font-size: 75%;
        font-family: 'Gill Sans', sans-serif;
    }
    .apellidostext{
        height: 20px;
        width: 250px;
        border: 1px black solid;
        border-radius: 5px;
    }
    .correotelefonopart{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    .correotitle{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 5px;
        font-size: 75%;
        font-family: 'Gill Sans', sans-serif;
    }
    .correotext{
        height: 20px;
        width: 120px;
        border: 1px black solid;
        border-radius: 5px;
    }
    .telefonotitle{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 5px;
        font-size: 75%;
        font-family: 'Gill Sans', sans-serif;
    }
    .telefonotext{
        height: 20px;
        width: 120px;
        border: 1px black solid;
        border-radius: 5px;
    }
    .contraseñatitle{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 5px;
        font-size: 75%;
        font-family: 'Gill Sans', sans-serif;
    }
    .contraseñatext{
        height: 20px;
        width: 250px;
        border: 1px black solid;
        border-radius: 5px;
    }
    .registrarsebutton{
        height: 40px;
        width: 200px;
        background-color: rgb(240, 235, 235);
        color: black;
        font-size: 130%;
        box-shadow: 0px 3px 3px #888;
        text-align: center;
        border-radius: 5px;
        border: 0px;
        font-family: 'Gill Sans Nova Cond Ultra Bold';
    }
    .terminostext{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 5px;
    }
    #checkbox{
        height: 15px;
        width: 15px;
    }
    .textpart{
        font-family: 'Rubik', sans-serif;
        font-size: 80%;
    }
}